#Informatica binaries and license
informatica/software/*
!informatica/software/Dockerfile

informatica/10.4.1/software/*
!informatica/10.4.1/software/.gitkeep

oracle/software/*
!oracle/software/Dockerfile

.env